*{
    margin: 0;
    padding: 0;

}

.clock{
    height: 100%;
    width: 100%;
    position: absolute;
}

#ttle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 90px;
    text-align: left;
    top: 5%;
    z-index: 2;
    position: absolute;
    color: dodgerblue;
    border: solid #2E2E2E 4px;
    border-right-width: 1220px;
    text-shadow: 1px 1px #000, -1px 1px #000;
}

#txt {
    font-family: Arial;
    font-size: 90px;
    font-weight: 600;
    right: 2%;
    top: 6%;
    color: whitesmoke;
    z-index: 2;
    position: absolute;
    text-shadow: 2px 2px #000;

}

#slide{
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 2;
    border: solid #000 2px;
    border-radius: 5px;
    top: 35%;
    right: 5%;

}

.myCaps{
    position: absolute;
    z-index: 5;
    top: 40%;
    left: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
    color: whitesmoke;
    text-shadow: 1px 1px dodgerblue;
    width: 300px;
    border: 2px solid black; 
    border-radius: 7px;


}

.left{
    z-index: 3;
    position: absolute;
    top: 60%;
    right: 53%;
    cursor: pointer;
    border-radius: 5px;
    border-width: 8px;
    opacity: 0.6;

}

.right{
    z-index: 3;
    position: absolute;
    top: 60%;
    right: 6%;
    cursor: pointer;
    border-radius: 5px;
    border-width: 8px;
    opacity: 0.6;

}
